# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Temporary files and credentials
*.json
!requirements.json
!credentials.json.example

# macOS specific files
.DS_Store

# IDE specific files
.idea/
.vscode/

# Generated CSV files
*.csv

# Keep only the essential CSV files
!example_output.csv
